/* Importing Montserrat font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    --sb-track-color: #232E33;
    --sb-thumb-color: #bc70a4;
    --sb-size: 15px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 4px;
  border: 2px solid #232E33;
}

@supports not selector(::-webkit-scrollbar) {
  body {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

main {
    background-color: purple; /* Fallback color */
    background-image: radial-gradient(circle, yellow, orange, red); /* Only this one takes effect */
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border: 4px solid lime;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
    color: white;
    font-family: sans-serif;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 50%;
    border-radius: 10px;
}
